body, html {/*Estilos generales*/
    width: 100%;
    height: 100%;
    background-color: linear-gradient(135deg, #43CBFF, #9708CC);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}/*Fin estilos generales*/

/*Estilos para lo que hace de navegador*/
.nav {
    background-color: #1aba7d;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el nav esté sobre otros elementos */
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;

        li {
            margin: 10px;     

            a {
                color: white;
                text-decoration: none;
                padding: 10px 20px;
            }
        }
    }
}/*Fin de estilos para el nav*/

/* Estilos para pantalla central */
.fullscreen-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url('https://i.pinimg.com/originals/db/6e/2f/db6e2f1f0479a0766de569273be9ba1e.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

/* Animación mejorada para el texto "RETRO" */
.product-title {
    opacity: 0; /* Empieza invisible */
    transform: translateY(50px); /* Posición inicial fuera de la pantalla */
    animation: fadeInSlideUp 2s ease forwards, bounce 0.5s 2s ease-out forwards;
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Estilos para el contenedor del producto */
.product-container {
    display: flex;
    align-items: center;
    text-align: center;
}

/* Style de los productos creados desde Js */
.card-products-container {
    margin: 5vh auto;
}

.card-products {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra los productos */
    flex-wrap: wrap;
    padding: 5px;
}

.product {
    border: 2px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: rgba(186, 29, 29, 0.2);
    transition: transform 0.6s ease, box-shadow 0.3s ease; /* Tiempo de transición más largo para el giro */
    perspective: 1000px; /* Agrega perspectiva para la rotación en 3D */
    max-width: 300px; /* Limita el ancho máximo de cada producto */
    flex-grow: 1; /* Permite que los productos se mantengan del mismo tamaño */
}

.product:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.product img {
    width: 27vh;
    height: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    transition: transform 0.6s ease; /* Sincronizado con la rotación del contenedor */
    transform-style: preserve-3d; /* Asegura que las transformaciones en 3D se mantengan */
}

/* Ajuste para el giro deseado */
.product:hover img {
    animation: spinDiagonalLeft 0.6s forwards; /* Llama a la animación */
}

@keyframes spinDiagonalLeft {
    0% {
        transform: rotate(0deg); /* Comienza en posición normal */
    }
    50% {
        transform: rotate(-15deg); /* Gira hacia -25 grados (izquierda) */
    }
    100% {
        transform: rotate(-10deg); /* Termina en posición normal */
    }
}

.buy-button {
    outline: 0;
    background-color: #000000;
    width: 90%;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #3E3232;
    font-size: 23px;
}

.buy-button:active {
    background-color: #3E3232;
}

/* Media queries para pantallas más pequeñas */
/* En pantallas de hasta 1024px (tabletas), mostrar 2 productos por fila */
@media screen and (max-width: 1024px) {
    .product-container {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .product img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-products {
        justify-content: space-around; /* Espaciado alrededor de los productos */
    }
    .product {
        max-width: 39%; /* 2 productos por fila, ocupando 45% del ancho */
        flex: 1 1 45%; /* Hacer que los productos sean flexibles */
        margin: 10px; /* Espaciado uniforme */
        padding: 5px;
        aspect-ratio: 1.5; /* Mantener un aspecto rectangular */
    }
}

/* En pantallas de hasta 768px (pequeñas tabletas y computadoras portátiles), ajustar el diseño */
@media screen and (max-width: 768px) {
    .product-container {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .product {
        max-width: 40%; /* Asegura que se mantengan 2 productos por fila */
        flex: 1 1 48%; /* Flexibilidad en el diseño */
        margin: 10px; /* Espaciado uniforme */
        aspect-ratio: 1.5; /* Mantener un aspecto rectangular */
    }
    .product img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* En pantallas de hasta 600px (móviles), mostrar 1 producto por fila */
@media screen and (max-width: 600px) {
    .product-container {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .product {
        max-width: 70%; /* 1 producto por fila, ocupando el 90% del ancho */
        margin: 10px 0; /* Espaciado vertical entre productos */
        aspect-ratio: 1.5; /* Mantener un aspecto rectangular */
    }
    .product img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.filters-and-search {/*Estilos para los filtros y buscar*/
    padding: 10px;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding-top: 15px;
        flex-wrap: wrap;
    }
}/*Fin de estilos para filtros y buscar*/

/* Boton y input para buscar */
.container {
    padding: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; /* Altura ajustada para mayor accesibilidad */
}

.input {
    max-width: 190px;
    height: 57%; /* Asegura que el input y el botón tengan la misma altura */
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #2a2a2d;
    caret-color: #f7f7f8;
    color: #fff;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-radius: 7px 0 0 7px; /* Usa shorthand para simplificación */
    margin-right: 0; /* Elimina el margen derecho para alineación perfecta */
    transition: background-color 0.2s ease, border-color 0.2s ease; /* Optimiza las transiciones */
}

.input:hover {
    border-color: #ccc; /* Simplificación */
}

.input:focus {
    border-color: #7E6363;
    background-color: #0e0e10;
}

.search__btn {
    border: none;
    cursor: pointer;
    background-color: #2a2a2d;
    border-radius: 0 7px 7px 0; /* Usa shorthand para simplificación */
    height: 100%; /* Asegura que el botón tenga la misma altura que el input */
    width: 40px; /* Ajusta el ancho del botón */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease; /* Transición suave */
    margin-left: -2px; /* Ajusta el margen para compensar el borde del input */
}

.search__btn:hover {
    background-color: #363638;
}

/* Responsividad móvil */
@media (max-width: 600px) {
    .input {
        max-width: 100%; /* Ajusta el ancho para pantallas más pequeñas */
    }

    .search__btn {
        width: 50px; /* Ancho mayor para facilidad en pantallas táctiles */
    }
}


.footer {/*Estilos del footer*/
    background-color: #3E3232;
    color: white;
    padding: 5px;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}/*Fin de estilos para el footer*/

/* From Uiverse.io by gagan-gv */ /*Boton de filtros*/ 
.btn {
    width: 120px; /* Ancho reducido */
    height: 40px; /* Altura reducida */
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 14px; /* Tamaño de fuente reducido */
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    background: #2a2a2d;
    color: #f5f5f5;
    position: relative; /* Asegura que el icono se posicione relativo al botón */
}

.btn:hover {
    box-shadow: 0 0 20px 0px white;
}

.btn .icon {
    position: absolute;
    height: 30px; /* Altura del icono reducida */
    width: 50px; /* Ancho del icono reducido */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn .text {
    transform: translateX(40px); /* Ajuste para el texto */
}

.btn:hover .icon {
    width: 130px; /* Ancho del icono en hover reducido */
}

.btn:hover .text {
    transition: all 0.5s;
    opacity: 0; /* Asegúrate de que esto sea lo que deseas */
}

.btn:focus {
    outline: none;
}

.btn:active .icon {
    transform: scale(0.85); /* Efecto al presionar el botón */
}
/*Fin de estilos para el boton de filtros*/

/* Esto es para el responsil */

@media (max-width: 768px) {
    .nav ul li {
        margin: 5px;
    }

    .product-container {
        flex-direction: column;

        .product-image {
            max-width: 150px;
            width: 40%;
            margin: 10px 0;
        }

        .product-title {
            font-size: 1.8em;
        }
    }

    .filters-and-search ul li {
        margin: 5px;
    }
}

@media (max-width: 480px) {
    .nav ul li a {
        padding: 8px 16px;
    }

    .product-container {
        .product-image {
            max-width: 100px;
            width: 35%;
        }

        .product-title {
            font-size: 1.5em;
        }
    }

    .filters-and-search ul li a {
        font-size: 0.9em;
    }
}

/*Codiggo prueba*/
/*        Modal      */
.modal-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal-container {
    display: none;
    background-color: #E0CCBE;
    box-shadow: 0px 3px 6px #00000029;
    padding: 2em;
    position: fixed; /* Cambiado de absolute a fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    width: 80%;
    z-index: 2; /* Asegúrate de que esté por encima de la superposición */
    max-height: 80vh;
    overflow-y: auto;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-close {
    font-size: 1.25em;
    float: right;
    cursor: pointer;
}

.modal-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1.25em;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.modal-body {
    padding: 0;
    margin: 0;
}

.modal-body ul {
    margin: 0;
    padding: 0;
}

.lista-de-filtros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    text-align: center;
    padding: 0.8em;
}

.lista-de-filtros select {
    background-color: #7E6363;
    color: #f5f5f5;
    padding: 0.5em;
    text-align: justify;
}

.modal-apli {
    outline: 0;
    background-color: #3E3232;
    width: 10%;
    color: white;
    border: none;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}
.modal-apli:hover {
    background-color: #7E6363;
}

.modal-reset {
    margin-left: 10px;
    outline: 0;
    background-color: #3E3232;
    width: 10%;
    color: white;
    border: none;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}

.modal-reset:hover {
    background-color: #7E6363;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 600px) {
    .modal-container {
        padding: 1em;
        max-width: 95vw;
    }

    .modal-title {
        font-size: 1.25em;
    }

    .modal-apli {
        width: 20%;
    }

    .modal-reset{
        width: 25%;
    }
}